*
    margin 0
    padding 0
    box-sizing border-box

input
    outline none

.link
    color #409eff
    cursor pointer
    font-size 14px

.none
    display none

.flex-between
    flex-between true